/* background image */ 
body {
    background-image:url('img/circles-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* changing background color to header, main, footer */
.bg-info {
    background-color: silver!important;
}

/* apply color to <h1> */
h1 {
    color: #0870df;
}

/* text color in Contact section */
.text-info {
    color: black!important;
}

/* applying margin to all buttons */
.btn, nav a {
    margin: auto;
}

/* color of all buttons as-is */
.btn-info {
    background-color: silver;
    border-color: black;
    color: #0870df;
}

/* color of all buttons when hovered */
.btn:hover{
    background-color: #0870df;
    border-color: whitesmoke;
    color: orange;
    transition: 1s;
}

/* adjusted bottom margin for these elements */
#button, form, nav {
    margin-bottom: 55px;
}

/* config for all images */
img{
    width: 200%;
    height: 100%;
}

/* config for img inside a div */
div img{
    width: auto;
    height: auto;
}

/* config with img inside footer */
footer img{
    width: auto;
    height: auto;

}

/* all footers */
footer {
    padding-left: 150px!important;
}

/* links in footer */
footer a{
    margin-left: 75px;
}

/* styling for screen of max width of 992px */
@media screen and (max-width:992px){
    .bg-media, .text-info, .btn{
        background-color: orange!important;
        color: black!important;
    }
    h1{
        color: #0870df!important;
    }
    
}

/* styling for screen of max width of 768px */
@media screen and (max-width:768px){
    .bg-media, .text-info{
        background-color: black!important;
        color: green!important;
    }
    h1{
        color: #0870df!important;
    }
    .btn{
        border-color: green!important;
        color: white!important;
    }
    
}